body {
    /* Sets the font style for the webpage */
    font-family: Arial, sans-serif;
}

p {
    /* Adds a black border around the paragraph */
    border: 2px solid rgb(203, 69, 89);

    /* Creates 30px space above the paragraph */
    margin-top: 20px;

    /* Creates 50px space on the right side */
    margin-right: 50px;

    /* Creates 30px space below the paragraph */
    margin-bottom: 30px;

    /* Creates 50px space on the left side */
    margin-left: 45px;

    /* Creates space between the text and border */
    padding: 10px;
}
